#filedrag {
	border: 2px dashed #555;
	border-radius: 7px;
	color: #555;
	cursor: default;
	font-weight: bold;
	margin: 1em 0;
	padding: 1em 0;
	text-align: center;
}

#messages {
	border: 1px solid #999;
	margin: 1em 0;
	padding: 0 10px;
}

#messages p {
	font-size: 0.8rem;
}

#progress {
	width: 20%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#error {
	color: red;
}

#success {
	color: green;
}

#error, #success {
	font-size: 0.8rem;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}